<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Straight A's</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('hello') }}">Home</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container text-center mt-5">
        <p> </p> <br>
        <p> </p><br>
        <p> </p><br>
        <p> </p><br>
      <img src="{{url_for('static', filename='A.png')}}" align="middle" width="300"/>
              <p>Welcome to StraightAs! Make your new account now to start making your own quizzes!</p>
        <form method="POST" action="{{ url_for('register') }}">
            {{ form.hidden_tag() }}
            {{ form.username }}
            {{ form.password }}
            {{ form.submit }}
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
